body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #1d2671, #c33764);
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
}


.player {
    background: #fff;
    padding: 20px;
    width: 90%;
    border-radius: 12px;
    text-align: center;
    max-width: 360px;
    max-height: 90vh;
    overflow-y: auto
}

h2 {
    margin: 5px 0;
}

h3 {
    margin: 0;
    font-weight: normal;
    color: gray;
}

.progress-container {
    background: #ddd;
    height: 6px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.progress {
    background: #c33764;
    height: 100%;
    width: 0%;
    border-radius: 5px;
}

.time {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 10px;
}

.volume {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.volume input {
    width: 100%;
}

.controls button {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

#playlist {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 180px;
    overflow-y: auto;
}

#playlist li {
    padding: 8px;
    cursor: pointer;
}

#playlist li.active {
    background: #c33764;
    color: white;
    border-radius: 5px;
}

#playlist::-webkit-scrollbar {
    width: 6px;
}

#playlist::-webkit-scrollbar-thumb {
    background: #c33764;
    border-radius: 10px;
}

#playlist::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.playlist-btn {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background: #c33764;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

/* Playlist hidden by default */
.playlist-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

/* When active */
.playlist-container.show {
    max-height: 30vh;
    margin-top: 10px;
}

@media (max-width: 400px) {
    .controls button {
        font-size: 18px;
        padding: 8px;
        margin: 6px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 14px;
    }
}
