*{
    margin: 0%;
    padding: 0%;
}
body{
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:'Segoe UI', sans-serif;
    /* background: linear-gradient(135deg, rgba(57, 1, 78, 0.82), rgba(105, 65, 120, 0.756)); */
    background: radial-gradient(circle, #e1bbc2, #ae81d9);
}
.calculator{
    width: 100%;
    max-width: 325px;
    height: auto;
    background-color: #1f2933;
    border-radius: 20px;
    padding: 25px;
}

#display{
    height: 60px;
    width: 95%;
    background-color: rgba(3, 10, 32, 0.61);
    border-radius: 10px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size:30px;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 auto 15px auto;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 8px;
    column-gap: 10px;
}

button{
    font-size: 20px;
    height: 55px;
    width: 100%;
    color: white;
    border-radius: 10px;
    border-color: transparent;
    justify-content: space-around;
}

button:active {
    transform: scale(0.95);
}

.Operator1{
    height: 110px;
    background-color: rgb(9, 198, 141);
}
.Numbers{
    margin-top: -50px;
    color: black;
}
.Number{
    color: black;
}
.Operator{
    background-color: rgb(250, 155, 12);
}
.Clear{
    background-color: rgb(234, 65, 65);
}
.Delete{
    background-color: rgb(86, 84, 236);
}
@media (max-width: 480px) {
    #display {
        font-size: 1.4rem;
    }

    button {
        font-size: 1rem;
        height: 50px;
    }
}
